.about-us {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0px;
  }
}
.about-list {
  margin-top: 50px;

  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
.about-list img {
  display: block;
}
.about-list__item {
  position: relative;
}
.about-list__text {
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 27px 0px;
  width: 100%;

  display: flex;
  justify-content: center;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}
