// .features {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   @media screen and (min-width: 1200px) {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
// }
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: var(--color-black);

  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.features-list__item::before {
  content: '';
  display: block;
  height: 120px;
  background-color: var(--color-backgr-gray);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-notebook::before {
  background-image: url(../images/notebook.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.features-list__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;

  color: var(--color-gray);
}
