.hero {
  display: flex;
  align-items: center;
  background: var(--color-backgr-dark);
  background-image: var(--gradient), url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 480px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
  @include retina {
    background-image: var(--gradient), url(../../images/hero-mob-2x.jpg);
  }
  @media screen and (min-width: 480px) {
    max-width: 768px;
    max-height: 400px;
    background-image: var(--gradient), url(../images/hero-tab.jpg);
    @include retina {
      background-image: var(--gradient), url(../../images/hero-tab-2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    max-height: 400px;
    max-width: 768px;
    max-height: 400px;
    background-image: var(--gradient), url(../images/hero.jpg);
    @include retina {
      background-image: var(--gradient), url(../../images/hero-2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    max-height: 600px;
  }
}

.main-title {
  font-weight: 900;
  // font-size: 44px;
  // line-height: 1.3636em;
  font-size: 20px;
  line-height: calc(42 / 20);

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: calc(42 / 26);
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}
.btn-order {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  background: var(--color-blue);
  color: #ffffff;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;

  padding: 10px 24px;
  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}
