.btn-portfolio {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
  background-color: var(--color-backgr-gray);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--color-blue);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.list-btn {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-bottom: 50px;
}

.list-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.work-border {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--color-black);
  margin-bottom: 4px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.03em;

  color: var(--color-gray);
}
.works-item img {
  display: block;
}
.works-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  }
}
.thumb {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  padding: 0px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .works-item:hover & {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    transform: translateY(0);
    opacity: 1;
  }
}
