.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #ffffff;
  z-index: 1;
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  @include tablet {
    display: none;
  }
}
.menu-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: block;
  margin-left: auto;

  background-color: #ffffff;
  border: none;
  &:hover {
    fill: var(--color-blue);
  }
  &:focus {
    fill: #2196f3;
  }
}
.menu-list {
  margin-top: auto;
  // margin-bottom: 302px;
}
.menu-list__item {
  &:hover {
    color: var(--color-blue);
  }
  &:focus {
    color: var(--color-blue);
  }
}
.menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;

  color: var(--color-black);

  @include mobile {
    font-size: 40px;
  }
}
.menu-contact {
  margin-bottom: 64px;
}
.menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-contact__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  color: var(--color-gray);
  @include mobile {
    font-size: 24px;
  }
}
.link-tell {
  font-size: 24px;
  line-height: calc(40 / 34);
  color: var(--color-blue);
  @include mobile {
    font-size: 34px;
  }
}
.menu-soc {
  display: flex;
}
.menu-soc__item {
}

.menu-soc__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;

  color: var(--color-blue);
  @include mobile {
    font-size: 18px;
  }
}
.menu-soc__item:not(:last-child) {
  content: '';
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
